@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");

.TrackList {
  flex: 1;
  background-color: #131646;
  display: flex;
}

.emptyList {
  justify-content: center;
  align-items: center;
}

.filledList {
  min-height: 95%;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
}

@keyframes flashingText {
  0% {
    text-shadow: 0px 0px 2px #fff;
  }
  50% {
    text-shadow: 0px 0px 8px #fff;
  }

  100% {
    text-shadow: 0px 0px 2px #fff;
  }
}

.NoTrackHeader {
  color: #fff;
  font-size: 2rem;
  font-family: "Style Script", cursive;
  letter-spacing: 4px;
  animation: flashingText 1.5s infinite;
}
