.trackCard {
  width: 95%;
  padding: 1.5rem;
  background-color: #131646;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 2px #0f1138;
  padding-left: 0.5rem;
}

.trackBtn {
  margin-right: 0.5rem;
  transform: scale(1.25);
}

.trackName {
  flex: 1;
  margin-left: 0.5rem;
  font-size: 1rem;
  text-transform: capitalize;
  overflow-x: hidden;
}

.dragPlayController {
  display: flex;
  justify-content: space-evenly;
}

.repeatDeleteController {
  display: flex;
  justify-content: space-evenly;
}
